@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Titillium Web', sans-serif;
    color: #F8FAFC;
  }

body {
    background-color: #080808;
}

@layer components {
    .hero_big_text {
        @apply font-bold uppercase;
        font-size: 6.125rem;
        letter-spacing: 0.1225rem;
        line-height: 91.6%;
        -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    }
    
    .hero_medium_text {
        @apply font-bold uppercase mb-1;
        font-size: 4.625rem;
        letter-spacing: 0.0925rem;
        line-height: 91.6%;
    }
    
    .hero_small_text {
        font-size: 1.0625rem;
        line-height: 122%;
        padding-left: 5px
    }

    .hero_slash {
        font-weight: 400;
        color: #6659EF
    }

    .hero_bg_dots, .testimonials {
        background: url(/bg_hero_mobile.png);
    }

    .nav_gradient {
        background: linear-gradient(180deg, #060606 0%, rgba(6, 6, 6, 0.88) 100%);
    }

    .my_mission_section {
        padding: 78px 22px;
        background: linear-gradient(180deg, #F7F7FC 0%, #F5F4F9 60.94%, #E2E2E5 100%);
    }

    .section_title {
        @apply text-xl font-semibold capitalize;
        background: linear-gradient(90deg, rgba(78, 65, 209, 0.85) 0%, #6659EF 26.04%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .my_mission_quote {
        @apply font-semibold;
        line-height: 112%;
        font-size: 2.8125rem;
    }

    .my_mission_text {
        @apply text-xl;
        line-height: 122%;
        color: #363639;
        opacity: 0.9;
    }

    .projects_wrapper {
        @apply flex flex-col py-12 gap-y-12 px-5;
        background: linear-gradient(180deg, #141415 0%, #101014 100%);
    }

    .projects_wrapper, .testimonials_wrapper, .socials_wrapper {
        @apply z-10 relative
    }

    .badge {
        @apply absolute top-2 text-typography font-semibold  uppercase py-2 px-1.5;
        background: #060606;
        font-size: 0.875rem;
        line-height: 100%;
    }

    .project {
        @apply pb-6 border-b;
        border-color: rgba(248, 250, 252, .13);
    }

    .project_title {
        @apply font-semibold uppercase;
        font-size: 3.25rem;
        line-height: 100%;
        background: linear-gradient(90deg, rgba(248, 250, 252, 0.90) 0%, #F8FAFC 89.60%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .testimonials_wrapper, .socials_wrapper {
        @apply flex flex-col bg-dark-grey;
        padding-top: 78px;
    }

    .testimonials_text {
        @apply text-typography font-semibold px-5 mb-20;
        font-size: 2.8125rem;
        line-height: 112%;
        height: 250px;
        width: 355px;
    }

    blockquote .testimonials_text_featured {
        background-image: var(--text-gradient, linear-gradient(90deg, rgba(78, 65, 209, 0.85) 0%, #6659EF 26.04%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }

    .carousel_next {
        @apply w-10 h-16 flex justify-center items-center;
        border-radius: 0.09094rem;
        background: linear-gradient(90deg, rgba(46, 29, 157, 0.22) 0%, rgba(46, 29, 157, 0.83) 57.44%, #2E1D9D 100%);
    }
    
    .mentors_info_wrapper {
        @apply -ml-8 -mt-12
    }

    .mentors_info {
        @apply flex;
        width: 200px;
        font-size: 14px;
    }

    .mentors_info.job {
        letter-spacing: 0.0175rem;
    }

    .mentor_img {
        width: 199px;
        height: 222px;
        max-width: 199px;
    }

    .mentoring_button_wrapper {
        background: linear-gradient(90deg, rgba(46, 29, 157, 0.24) 0%, rgba(46, 29, 157, 0.60) 11.41%, rgba(46, 29, 157, 0.90) 63.65%, #2E1D9D 100%);
    }

    .mentoring_button {
        @apply text-xl font-semibold uppercase;
        line-height: 100%;
    }

    .social_button_wrapper {
        @apply border-b;
        border-bottom-color: #fcfcfc2b;
    }

    .social_button {
        @apply font-semibold uppercase;
        opacity: 0.85;
        font-size: 3.325rem;
        line-height: 82%;
    }

    .footer-text {
        @apply uppercase text-center py-4;
        font-size: 0.75rem;
        color: #535353;
    }

    .back_to_top {
        @apply pb-10;
        opacity: 0.5
    }

    .swiper-button-prev {
        top: 10%!important;
    }


    #nav-icon3 span:nth-child(1) {
        top: 0px;
      }
      
      #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
        top: 10px;
      }
      
      #nav-icon3 span:nth-child(4) {
        top: 20px;
      }
      
      #nav-icon3.open span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
      
      #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      #nav-icon3.open span:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }

      #nav-icon3 {
        width: 30px;
        height: 22px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      
      #nav-icon3 span {
        display: block;
        position: absolute;
        height: 3.67px;
        width: 100%;
        background: #6659EF;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      .menu-mobile {
        @apply absolute -right-4 border-l border-b border-violet p-6;
        background: linear-gradient(180deg, rgba(6, 6, 6, 0.88) 0%, rgba(6, 6, 6, 0.83) 100%);
        top: 47px;
      }

      .menu-item {
        @apply text-right uppercase font-semibold text-lg text-typography;
        letter-spacing: 0.09rem;
      }

      .hero_bg_dots {
        -webkit-overflow-scrolling: auto!important;
      }

      .hero_bg_dots, .my_mission_section, .projects_wrapper, .testimonials_wrapper, .socials_wrapper, .back_to_top, .footer-text {
        transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
      }

}






