@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Titillium Web', sans-serif;
    color: #F8FAFC;
  }

body {
    background-color: #080808;
}

@layer components {
    .hero_big_text {
        @apply font-bold uppercase;
        font-size: 6.125rem;
        letter-spacing: 0.1225rem;
        line-height: 91.6%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @screen xl {
            font-size: 12.1075rem;
            text-shadow: 0px 0.5000012516975403px 6.500016212463379px rgba(13, 9, 24, 0.22);
            line-height: 91.6%;
        }

        @screen laptop {
            font-size: 8.614rem;
        }
    }
    
    .hero_medium_text {
        @apply font-bold uppercase mb-1;
        font-size: 4.625rem;
        letter-spacing: 0.0925rem;
        line-height: 91.6%;
    }
    
    .hero_small_text {
        font-size: 1.0625rem;
        line-height: 122%;
        padding-left: 5px;

        @screen xl {
            font-size: 2.5rem;
            font-weight: 300;
            line-height: normal;
        }

        @screen laptop {
            font-size: 1.77863rem;
        }
    }

    .hero_wrapper {
        @apply xl:max-w-screen-xl xl:mx-auto xl:w-full laptop:px-24
    }

    .hero_slash {
        @apply inline-block mx-4 -mb-1;
        width: 5px;
        height: 70px;
        background: #6659EF;
        transform: rotate(15deg);

        @screen xl {
            height: 138px;
            width: 10px;
        }

        @screen laptop {
            height: 98px;
            width: 7px;
        }
    }

    .hero_bg_dots, .testimonials {
        background: url(/bg_hero_mobile.png);
    }

    .nav_gradient {
        background: linear-gradient(180deg, #060606 0%, rgba(6, 6, 6, 0.88) 100%);
    }

    .my_mission_section {
        padding: 78px 22px;
        background: linear-gradient(180deg, #F7F7FC 0%, #F5F4F9 60.94%, #E2E2E5 100%);

        @screen xl {
            padding: 112px 0 152px 0;
        }

        @screen laptop {
            padding: 79px 0 108px 0;
        }
    }

    .my_mission_wrapper {
        @apply xl:max-w-screen-xl xl:mx-auto laptop:px-24;
    }

    .section_title {
        @apply text-xl font-semibold capitalize;
        background: linear-gradient(90deg, rgba(78, 65, 209, 0.85) 0%, #6659EF 26.04%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @screen xl {
            font-size: 1.625rem;
        }

        @screen laptop {
            font-size: 1.25rem;
        }
    }

    .my_mission_quote {
        @apply font-semibold xl:font-bold;
        line-height: 112%;
        font-size: 2.8125rem;

        @screen xl {
            font-size: 3.9675rem;
            line-height: 112%;
        }

        @screen laptop {
            font-size: 3.2226rem;
        }
    }

    .my_mission_text {
        @apply text-xl xl:text-2xl laptop:text-xl;
        line-height: 122%;
        color: #363639;
        opacity: 0.9;

        @screen xl {
            line-height: 145%;
        }

    }

    .about_desc_wrapper {
        @apply py-4 px-10;
        border-radius: 0.0625rem;
        background: linear-gradient(90deg, rgba(46, 29, 157, 0.24) 0%, rgba(46, 29, 157, 0.60) 11.41%, rgba(46, 29, 157, 0.90) 63.65%, #2E1D9D 100%), #080808;
    }

    .about_desc_introduction {
        @apply text-xl capitalize text-typography laptop:text-base;
        line-height: 145%;
    }

    .about_desc_interests {
        @apply text-xl capitalize text-typography font-bold laptop:text-base;
        line-height: 120%;
        letter-spacing: 0.025rem;
    }

    .projects_container {
        @apply  py-12 px-5 xl:gap-y-0 w-full;
        background: linear-gradient(180deg, #141415 0%, #101014 100%);

        @screen xl {
            padding: 200px 0;
        }

        @screen laptop {
            padding: 140px 0;
        }
    }

    .projects_wrapper {
        @apply xl:max-w-screen-xl xl:mx-auto laptop:px-24 flex flex-col gap-y-12 xl:gap-y-0
    }

    .projects_container, .testimonials_container, .socials_container {
        @apply z-10 relative
    }

    .badge {
        @apply absolute top-2 text-typography font-semibold  uppercase py-2 px-1.5;
        background: #060606;
        font-size: 0.875rem;
        line-height: 100%;
    }

    .project {
        @apply pb-6 border-b xl:pb-0;
        border-color: rgba(248, 250, 252, .13);
    }

    /* .project:last-child {
        @screen xl {
            height: 354.63px;
        }

    } */

    .project_title {
        @apply font-semibold uppercase text-typography xl:bg-transparent;
        font-size: 3.25rem;
        line-height: 100%;

        @screen xl {
            color: #535353;
            font-size: 6.19875rem;
            line-height: 82%;
            max-width: 800px;
        }

        @screen xl {
            font-size: 4.5rem;
            max-width: 550px;
        }
    }

    .testimonials_wrapper, .socials_wrapper {
        @apply flex flex-col xl:max-w-screen-xl xl:mx-auto laptop:px-24;
    }

    .socials_container, .testimonials_container {
        @apply bg-dark-grey;
        padding-top: 78px;

        @screen laptop {
            padding-top: 70px;
        }
        
    }

    .testimonials_text {
        @apply text-typography font-semibold px-5 mb-20 xl:p-0 xl:m-0;
        font-size: 2.8125rem;
        line-height: 112%;
        height: 250px;
        width: 355px;

        @screen xl {
            font-size: 3.9675rem;
            font-weight: bold;
            width: 900px;
            height: auto;
        }

        @screen laptop {
            font-size: 3.22269rem;
            width: 720px;
        }
    }

    .testimonials_reference {
        @apply text-xl xl:block laptop:text-lg hidden relative;
        color: #9F9F9F;
        line-height: 145%;
        width: 760px;

        @screen laptop {
            width: 700px;
        }
    }

    .testimonials_reference::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(8, 8, 8, 0.00) 30%, rgba(8, 8, 8, 0.91) 55.94%, #080808 90.36%);
    }

    blockquote .testimonials_text_featured {
        background-image: var(--text-gradient, linear-gradient(90deg, rgba(78, 65, 209, 0.85) 0%, #6659EF 26.04%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }

    
    .mentors_info_wrapper {
        @apply -ml-8 -mt-12 xl:m-0 xl:py-4 xl:px-10;
        @screen xl {
            border-radius: 0.0625rem;
            background: var(--gradient, linear-gradient(90deg, rgba(46, 29, 157, 0.24) 0%, rgba(46, 29, 157, 0.60) 11.41%, rgba(46, 29, 157, 0.90) 63.65%, #2E1D9D 100%));
        }
    }

    .mentors_info {
        @apply flex w-48 xl:w-full xl:text-lg laptop:text-base text-sm;

        @screen xl {
            line-height: 145%;
        }
    }

    .mentors_info.job {
        letter-spacing: 0.0175rem;

        @screen xl {
            line-height: 120%;
        }
    }

    .mentor_img {
        width: 199px;
        height: 222px;
        max-width: 199px;
    }

    .mentoring_button_wrapper {
        background: linear-gradient(90deg, rgba(46, 29, 157, 0.24) 0%, rgba(46, 29, 157, 0.60) 11.41%, rgba(46, 29, 157, 0.90) 63.65%, #2E1D9D 100%);
    }

    .mentoring_button {
        @apply text-xl font-semibold uppercase;
        line-height: 100%;
    }

    .social_button_wrapper {
        @apply border-b;
        border-bottom-color: #fcfcfc2b;
    }

    .social_button {
        @apply font-semibold uppercase;
        opacity: 0.85;
        font-size: 3.325rem;
        line-height: 82%;

        @screen xl {
            font-size: 6.19875rem;
        }

        @screen laptop {
            font-size: 4.41013rem;
        }
    }

    .footer-text {
        @apply uppercase text-center py-4;
        font-size: 0.75rem;
        color: #535353;
    }

    .back_to_top {
        @apply pb-10;
        opacity: 0.5
    }

    .swiper-button-prev {
        top: 10%!important;
    }


    #nav-icon3 span:nth-child(1) {
        top: 0px;
      }
      
      #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
        top: 10px;
      }
      
      #nav-icon3 span:nth-child(4) {
        top: 20px;
      }
      
      #nav-icon3.open span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
      
      #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      #nav-icon3.open span:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }

      #nav-icon3 {
        width: 30px;
        height: 22px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      
      #nav-icon3 span {
        display: block;
        position: absolute;
        height: 3.67px;
        width: 100%;
        background: #6659EF;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      .menu-mobile {
        @apply absolute -right-4 border-l border-b border-violet p-6;
        background: linear-gradient(180deg, rgba(6, 6, 6, 0.88) 0%, rgba(6, 6, 6, 0.83) 100%);
        top: 47px;
      }

      .menu-item {
        @apply text-right uppercase font-semibold text-lg text-typography laptop:text-sm xl:text-dark-typography xl:text-base;
        letter-spacing: 0.09rem;
      }

      .hero_bg_dots {
        -webkit-overflow-scrolling: auto!important;
      }

      .hero_bg_dots, .my_mission_section, .projects_container, .testimonials_container, .socials_container, .back_to_top, .footer-text {
        transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
      }

}






